<ion-header>
  <ion-toolbar>
    <ion-title>
      Document Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img [src]="currentImage" *ngIf="currentImage">
  <div class="ion-padding">
    Intelligent Reader App
  </div>
  <ion-button (click)="takePicture()" fill="outline" color="secondary" [hidden]="scanButton">Click to scan the document!</ion-button> 
  <ion-button (click)="processPicture()" fill="outline" color="secondary" [hidden]="processButton">Process Document</ion-button>

  <div class="ion-padding" [hidden]="showDiv">
    <ion-list>
        <ion-item>
          <ion-label>Image name: {{values.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Image type: {{values.type}}</ion-label>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
